body {
    padding: 0px !important;
    background: #FFFFFF;
}

a {
    color:#09aadb;
}

.aq-jumbotron {
    background: #3f7f96;
    color:#FFF;
    margin: 0px;
    padding: 140px 0px 70px 0px;
}
.aq-jumbotron h1 {
    font-size: 45px;
    margin-top: 35px;
}
.square-manual {
    position: relative;
    width: 100%;
    color: #FFF;
}
  
.square-manual:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

footer {
    background:#666;
    color: #FFF;
    padding: 25px 0px;
}
.anchor-nav {
    margin: 0px;
    padding: 15px 0px 0px 0px;
}
.anchor-nav li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.anchor-nav li a {
    padding: 10px;
    border-left: 4px solid #ffffff;
    color: #000;
}
.anchor-nav li.active a {
    border-left: 4px solid #09aadb;
    font-weight: 600;
    color: #09aadb;

}
.anchor-nav li a:hover {
    background: none;
    color: #09aadb;

}
.stick-menu {
    position: fixed;
    top:51px;
}
main {
    padding: 30px 0px 70px 0px;

}
.content-section {
    padding: 50px 0px 70px 0px;
    border-top: 1px solid #ededed;
}
.content-section:first-child {
    border-top: none;
}
.content-section h2{
    padding-bottom: 10px;
}
.nav.main-nav li a:hover {
    color: #09aadb;
}
.manual-title {
    background: #3f7f96;
    color: #FFF;
    padding: 70px 0px 25px 0px;
}
.manual-title h1 {
    font-size: 42px;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: #c6e0f1;;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    margin-bottom: 15px;
}

.bg-system {
    background: #dfdfdf;
    padding: 20px;
}

.bs-example-modal {
    background-color: #f5f5f5;
}

.bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0px;

}
.bs-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}
